form{
    width: 300px;
    background-color: #737ca1;
    border-radius: 10px;
    margin: 50px auto;
    padding: 16px;
}
form label{
    width: 72px;
    font-weight: bold;
    display: inline-block;
}
form input[type="text"], input[type="email"]{
    width: 180px;
    padding: 3px 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
}
form textarea{
    width: 98%;
    height: 75px;
    border-radius: 5px;
    display: block;
    margin: 8px;
    border: 1px solid black;
    resize: none;

}
form input[type="submit"]{
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    display: block;
    color: white;
    height: 50px;
    background-color: rgb(12, 12, 12);
}
form input[type="submit"]:hover{
    background-color: #939497;
    cursor: pointer;
}


